In [1]:
# Data
import numpy as np
import pandas as pd

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go

#warning
import warnings
warnings.filterwarnings('ignore')

## Stock Price 데이터 상관관계 분석 
### (구글, 애플, 아마존, 페이스북, 넷플릭스, 마이크로소프트)

In [2]:
stocks = px.data.stocks()
stocks

           date      GOOG      AAPL      AMZN        FB      NFLX      MSFT
0    2018-01-01  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
1    2018-01-08  1.018172  1.011943  1.061881  0.959968  1.053526  1.015988
2    2018-01-15  1.032008  1.019771  1.053240  0.970243  1.049860  1.020524
3    2018-01-22  1.066783  0.980057  1.140676  1.016858  1.307681  1.066561
4    2018-01-29  1.008773  0.917143  1.163374  1.018357  1.273537  1.040708
..          ...       ...       ...       ...       ...       ...       ...
100  2019-12-02  1.216280  1.546914  1.425061  1.075997  1.463641  1.720717
101  2019-12-09  1.222821  1.572286  1.432660  1.038855  1.421496  1.752239
102  2019-12-16  1.224418  1.596800  1.453455  1.104094  1.604362  1.784896
103  2019-12-23  1.226504  1.656000  1.521226  1.113728  1.567170  1.802472
104  2019-12-30  1.213014  1.678000  1.503360  1.098475  1.540883  1.788185

[105 rows x 7 columns]

In [3]:
corr_df = stocks.corr()
corr_df = corr_df.apply(lambda x: round(x ,2))
corr_df

      GOOG  AAPL  AMZN    FB  NFLX  MSFT
GOOG  1.00  0.83  0.56  0.63  0.14  0.75
AAPL  0.83  1.00  0.56  0.49  0.05  0.79
AMZN  0.56  0.56  1.00  0.34  0.62  0.66
FB    0.63  0.49  0.34  1.00  0.27  0.47
NFLX  0.14  0.05  0.62  0.27  1.00  0.08
MSFT  0.75  0.79  0.66  0.47  0.08  1.00

In [5]:
corr_df['GOOG']

GOOG    1.00
AAPL    0.83
AMZN    0.56
FB      0.63
NFLX    0.14
MSFT    0.75
Name: GOOG, dtype: float64

In [4]:
s = corr_df.unstack() # 각 column별로 한것과 마찬가지의 효과
s

GOOG  GOOG    1.00
      AAPL    0.83
      AMZN    0.56
      FB      0.63
      NFLX    0.14
      MSFT    0.75
AAPL  GOOG    0.83
      AAPL    1.00
      AMZN    0.56
      FB      0.49
      NFLX    0.05
      MSFT    0.79
AMZN  GOOG    0.56
      AAPL    0.56
      AMZN    1.00
      FB      0.34
      NFLX    0.62
      MSFT    0.66
FB    GOOG    0.63
      AAPL    0.49
      AMZN    0.34
      FB      1.00
      NFLX    0.27
      MSFT    0.47
NFLX  GOOG    0.14
      AAPL    0.05
      AMZN    0.62
      FB      0.27
      NFLX    1.00
      MSFT    0.08
MSFT  GOOG    0.75
      AAPL    0.79
      AMZN    0.66
      FB      0.47
      NFLX    0.08
      MSFT    1.00
dtype: float64

In [ ]:
# Series이므로 DataFrame으로 변경한다. 
df = pd.DataFrame(s[s < 1].sort_values(ascending=False), columns=['corr'])
df.style.background_gradient(cmap='viridis')