In [2]:
import pandas as pd

In [11]:
data = {'team' : ['russia', 'saudiarabia', 'egypt', 'uruguay'],
        'against': ['saudiarabia', 'russia', 'uruguay', 'egypt'],
        'fifa_rank': [65, 63, 31, 21]}

columns = ['team', 'against', 'fifa_rank']

In [12]:
df = pd.DataFrame(data, columns = columns)

In [13]:
df

          team      against  fifa_rank
0       russia  saudiarabia         65
1  saudiarabia       russia         63
2        egypt      uruguay         31
3      uruguay        egypt         21

In [15]:
type(df['team'])

pandas.core.series.Series

In [18]:
df['winning_rate'] = df['team'].

0    saudiarabia
1         russia
2        uruguay
3          egypt
Name: against, dtype: object

In [34]:
a = 45
b = a + 2.345
print(f'{b}')
print(f'{int(b):10}')
print(f'{int(b):010}')
print(f'{b:010}')
print(f'{b:10}')

47.345
        47
0000000047
000047.345
    47.345

In [35]:
a = pd.Series([1,9,3,6])
a.index

RangeIndex(start=0, stop=4, step=1)

In [38]:
a.values

array([1, 9, 3, 6], dtype=int64)

In [42]:
a[2], a[3],a[1]

(3, 6, 9)

In [51]:
b = pd.Series([1,9,3,6], index = ['바', '보', '멍', '청'])

In [52]:
b

바    1
보    9
멍    3
청    6
dtype: int64

In [53]:
data = {"이재욱" : 28, "김재욱" : 18, "안재욱" : 38}

In [54]:
c = pd.Series(data)
c

이재욱    28
김재욱    18
안재욱    38
dtype: int64

In [55]:
c.index

Index(['이재욱', '김재욱', '안재욱'], dtype='object')

In [56]:
c.values

array([28, 18, 38], dtype=int64)

In [58]:
c.keys()

Index(['이재욱', '김재욱', '안재욱'], dtype='object')

In [59]:
c.keys

<bound method Series.keys of 이재욱    28
김재욱    18
안재욱    38
dtype: int64>

In [60]:
c

이재욱    28
김재욱    18
안재욱    38
dtype: int64

In [61]:
c.name = '재욱이름가진사람'

In [62]:
c

이재욱    28
김재욱    18
안재욱    38
Name: 재욱이름가진사람, dtype: int64

In [63]:
c.index.name = '성함'

In [64]:
c

성함
이재욱    28
김재욱    18
안재욱    38
Name: 재욱이름가진사람, dtype: int64

In [74]:
c.colums.name = '나이'

AttributeError: 'Series' object has no attribute 'colums'

In [77]:
c.keys

<bound method Series.keys of 성함
이재욱    28
김재욱    18
안재욱    38
Name: 재욱이름가진사람, dtype: int64>

In [78]:
aa = [1,2,3,4]
type(aa)

list

In [87]:
len(aa)

4

In [88]:
dict_ = {i:[] for i in range(10)}
dict_

{0: [], 1: [], 2: [], 3: [], 4: [], 5: [], 6: [], 7: [], 8: [], 9: []}